<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class = "Home Header">
        <button class = "Home Header Button">Menu</button> <!--Instead of being a button, this should be an href once we get a link to the Menu Page-->
        <p class = "Home Header Sign In">Currently Signed In: <%=name%></p> <!--Change this to be whoever is currently logged in--> 
        <!-- THIS IS WHERE WE WOULD PUT IN THE WEATHER STUFF -->
    </div>

    <div class = "Seasonal Items - Home Menu">
        <p class = "Seasonal Items Header">Our Seasonal Items</p>
        <p class = "Seasonal Items Text">Our Autumn Joy</p>
        <button class = "Seasonal Item Menu Button">View The Menu</button> <!--Instead of being a button, this should be an href once we get a link to the Menu Page-->
        <img src="/images/Home_SeasonalItems_CoffeeIcon.png" alt="CoffeeIcon">
    </div>

    <div class = "Home Footer"></div>
</body>