<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class = "ManagerHeader">
        <button class="backToManagerHome" onclick="location.href='/manager'">Manager Home</button>
        <button class = "backtoManagerReports" onclick="location.href='manager_reports'">Reports</button>
        <button class = "backtoManagerEmployees" onclick="location.href='manager_employees'">Employees</button>
        <button class = "backtoManagerItems" onclick="location.href='managerItems'">Items</button>
        <button class = "backtoManagerInventory" onclick="location.href='manager_inventory'">Inventory</button>
        <button class="backToMenu" onclick="location.href='/menu'">backToMenu</button>
    </div>
    
</body>