<!DOCTYPE html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div class = "ManagerHeader">
            <button class="backToManagerHome" onclick="location.href='/manager'">Manager Home</button>
            <button class = "backtoManagerReports" onclick="location.href='manager_reports'">Reports</button>
            <button class = "backtoManagerEmployees" onclick="location.href='manager_employees'">Employees</button>
            <button class = "backtoManagerItems" onclick="location.href='managerItems'">Items</button>
            <button class = "backtoManagerInventory" onclick="location.href='manager_inventory'">Inventory</button>
            <button class="backToMenu" onclick="location.href='/menu'">Back To Menu</button>
        </div>

        <div class="Employees">
            <h1>Employees: </h1>
            <% for (var i in employees) { %>
              <p>Name: <%= employees[i].name %>, ID: <%= employees[i].id %>, Access: <%= employees[i].access %></p>
            <% } %>
          
            <!-- ADD EMPLOYEES -->
            <form action="/add-employee" method="POST">
              <label for="AddEmployeeName">New Employee Name:</label>
              <input type="text" id="AddEmployeeName" name="name">
          
              <label for="AddEmployeeID">New Employee ID:</label>
              <input type="number" id="AddEmployeeID" name="id">
          
              <label for="AddEmployeePassword">New Employee Password:</label>
              <input type="text" id="AddEmployeePassword" name="password">
          
              <label for="AddEmployeeAccess">New Employee Access:</label>
              <input type="text" id="AddEmployeeAccess" name="access">
          
              <button type="submit">Add Employee</button>
            </form>

            <!-- DELETE EMPLOYEES -->
            <form action="/delete-employee" method="POST">
                <label for="DeleteEmployeeID">Delete Employee ID:</label>
                <input type="number" id="DeleteEmployeeID" name="id">
            
                <button type="submit">Delete Employee</button>
            </form>

            <!-- EDIT EMPLOYEES -->
            <form id="selectEditStyle">
                <label for="UpdateEmployeeID" method="POST" >
                    <select name="updateEmployee" id="updateEmployee">
                        <option value="name">Name</option>
                        <option value="access">Access</option>
                        <option value="password">Password</option>
                    </select>
                </label>
            </form>

            <form action="/update-employee-value" method="POST" id="selectEditCmd">
                <label for="EditEmployeeID">Edit Employee ID:</label>
                <input type="number" id="EditEmployeeID" name="id">
                <label id = "valueUpdateLabel" for="valueUpdated">New Employee Name:</label>
                <input type="text" id="valueUpdate" name="valueUpdate">
            </form>
            <button type="submit" id="updateEmployeeButton">Update Employee</button>
        </div>
        
        <script>
        console.log(document.getElementById("updateEmployeeButton")); // Should NOT be null

        const BASE_URL = '<%= url %>';

        document.getElementById("updateEmployeeButton").addEventListener("click", async function() {
            EditEmployeeID=((document.getElementById("selectEditCmd")).elements["EditEmployeeID"].value)
            valueUpdate=((document.getElementById("selectEditCmd")).elements["valueUpdate"].value)

            updateEmployee=((document.getElementById("selectEditStyle")).elements["updateEmployee"].value)

            console.log(JSON.stringify({EditEmployeeID, valueUpdate, updateEmployee }));
            const response = await fetch(BASE_URL, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({EditEmployeeID, valueUpdate, updateEmployee })
            });

            if (response.ok) {
                //const data = await response.text();
                //alert(data);
            } else {
                alert('Error adding order');
            }
        });

        document.getElementById("updateEmployee").addEventListener("change", () => {
            updateLabel();
        });

        window.onload = function() {
            updateLabel();
        };

        function updateLabel(){
            select=document.getElementById("updateEmployee");
            selected = select.value;
            labelText = "New Employee ";

            switch (selected) {
                case "name":
                    labelText += "Name:";
                    break;
                case "access":
                    labelText += "Access Level:";
                    break;
                case "password":
                    labelText += "Password:";
                    break;
            }

            document.getElementById("valueUpdateLabel").textContent = labelText;
        }
        </script>
    
    </body>