<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class = "menu-categories">
        <button class="menu-category-button" onclick="location.href='/manager'">Manager Home</button>
        <button class = "menu-category-button" onclick="location.href='manager_reports'">Reports</button>
        <button class = "menu-category-button" onclick="location.href='manager_employees'">Employees</button>
        <button class = "menu-category-button" onclick="location.href='managerItems'">Items</button>
        <button class = "menu-category-button" onclick="location.href='manager_inventory'">Inventory</button>
        <button class="menu-category-button" onclick="location.href='/menu'">Back To Menu</button>
    </div>
    
</body>