<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class = "Reports">
        <h1>Reports</h1>
        <h3>Past Orders</h3>
        <% for (var i in orders) {%>
            <p>Time: <%=orders[i].order_timestamp%>, ID: <%=orders[i].order_id%>, Price: <%=orders[i].price%>, Items: <%=orders[i].items%><p>
        <% } %>
    </div>
</body>