<!DOCTYPE html>
<head>
    <title>Manager Items</title>
</head>
<body>
    <div class = "managerItems">
        <h1>Items:</h1>
        <% for (var i in items) {%>
            <p><%=items[i].base_item%><p>
        <% } %>
    </div>

    <div class = "Home Footer"></div>
</body>