<!DOCTYPE html>
<head>
    <title>Manager Items</title>
</head>
<body>
    <div class = "ManagerHeader">
        <button class="backToManagerHome" onclick="location.href='/manager'">Manager Home</button>
        <button class = "backtoManagerReports" onclick="location.href='manager_reports'">Reports</button>
        <button class = "backtoManagerEmployees" onclick="location.href='manager_employees'">Employees</button>
        <button class = "backtoManagerItems" onclick="location.href='managerItems'">Items</button>
        <button class = "backtoManagerInventory" onclick="location.href='manager_inventory'">Inventory</button>
        <button class="backToMenu" onclick="location.href='/menu'">backToMenu</button>
    </div>

    <h1 class = ManagerItemsHeader>Items:</h1>

    <div class = "ItemsList">
        <% for (var i in items) {%>
            <p><%=items[i].base_item%><p>
        <% } %>
    </div>
    
    <div class = "ManagerItemsButtons">
        <!-- Add Items Button  -->
        <!-- item_id |      base_item       | price |  milk  |      syrup      |      liquid       | container | default_item | item_category -->
        <form action="/add-item" method="POST">
            <label for="AddItemID">New Item ID:</label>
            <input type="number" id="AddItemID" name="itemID">
        
            <label for="AddItemName">Base Item Name:</label>
            <select id="AddItemName" name="itemName" onchange="toggleCustomName(this)">
                <option value="" disabled selected>Select name type</option>
                <option value = "Boba Tea">Boba Tea</option>
                <option value = "Cake Pop">Cake Pop</option>
                <option value = "Brewed Coffee">Brewed Coffee</option>
                <option value = "Vanilla Milkshake">Vanilla Milkshake</option>
                <option value = "Latte">Latte</option>
                <option value = "Hot Chocolate">Hot Chocolate</option>
                <option value = "Chocolate Milkshake">Chocolate Milkshake</option>
                <option value = "Strawberry Refresher">Strawberry Refresher</option>
                <option value = "Butter Croissant">Butter Croissant</option>
                <option value = "Macchiato">Macchiato</option>
                <option value = "Americano">Americano</option>
                <option value = "Pineapple Refresher">Pineapple Refresher</option>
                <option value = "Strawberry Milkshake">Strawberry Milkshake</option>
                <option value = "Chocolate Croissant">Chocolate Croissant</option>
                <option value = "Black Tea">Black Tea</option>
                <option value = "Egg Sandwich">Egg Sandwich</option>
                <option value="Other">Other</option>
            </select>
            <div id="customNameDiv" style="display: none; margin-top: 10px;">
                <label for="CustomName">Enter custom name type:</label>
                <input type="text" id="CustomName" name="customName">
            </div>
        
            <label for="AddItemPrice">New Item Price:</label>
            <input type="number" id="AddItemPrice" name="itemPrice">
        
            <label for="AddItemMilk">New Item Milk:</label>
            <select id="AddItemMilk" name="itemMilk" onchange="toggleCustomMilk(this)">
                <option value="" disabled selected>Select milk type</option>
                <option value="Whole">Whole</option>
                <option value="Water">Water</option>
                <option value = "Almond">Almond</option>
                <option value = "Oat">Oat</option>
                <option value="Other">Other</option>
            </select>
            <div id="customMilkDiv" style="display: none; margin-top: 10px;">
                <label for="CustomMilk">Enter custom milk type:</label>
                <input type="text" id="CustomMilk" name="customMilk">
            </div>

            <label for="AddItemSyrup">New Item Syrup:</label>
            <select id="AddItemSyrup" name="itemSyrup" onchange="toggleCustomSyrup(this)">
                <option value="" disabled selected>Select syrup type</option>
                <option value="Strawberry">Strawberry</option>
                <option value="White Chocolate">White Chocolate</option>
                <option value = "Brown Sugar">Brown Sugar</option>
                <option value = "Caramel">Caramel</option>
                <option value = "Simple">Simple</option>
                <option value = "Vanilla">Vanilla</option>
                <option value = "Hazelnut">Hazelnut</option>
                <option value = "Chocolate">Chocolate</option>
                <option value = "Pineapple">Pineapple</option>
                <option value="Other">Other</option>
            </select>
            <div id="customSyrupDiv" style="display: none; margin-top: 10px;">
                <label for="CustomSyrup">Enter custom syrup type:</label>
                <input type="text" id="CustomSyrup" name="customSyrup">
            </div>
            
            <label for="AddItemLiquid">New Item Base Liquid:</label>
            <select id="AddItemLiquid" name="itemLiquid" onchange="toggleCustomLiquid(this)">
                <option value="" disabled selected>Select liquid type</option>
                <option value="coffee">Coffee</option>
                <option value = "espresso">Espresso</option>
                <option value = "tea">Tea</option>
                <option value = "Vanilla Ice Cream">Vanilla Ice Cream</option>
                <option value="Other">Other</option>
            </select>
            <div id="customLiquidDiv" style="display: none; margin-top: 10px;">
                <label for="CustomLiquid">Enter custom liquid type:</label>
                <input type="text" id="CustomLiquid" name="customLiquid">
            </div>

            <label for="AddItemContainer">New Item Container:</label>
            <select id="AddItemContainer" name="itemContainer">
                <option value="" disabled selected>Select container type</option>
                <option value = "small cup">Small Cup</option>
                <option value = "large cup">Large Cup</option>
            </select>

            <label for="AddItemDefault">Is It A Default Item?</label>
            <input type="checkbox" id="AddItemDefault" name="itemDefault">

            <label for="AddItemCategory">New Item Category:</label>
            <select id="AddItemCategory" name="itemCategory">
                <option value="" disabled selected>Select container type</option>
                <option value = "Teas">Teas</option>
                <option value = "Coffees">Coffees</option>
                <option value = "MilkShakes">Milkshakes</option>
                <option value = "Other Drinks">Other Drinks</option>
                <option value = "Food">Food</option>
            </select>
        
            <button type="submit">Add Item</button>
          </form>

          <!-- Delete Item -->
          <form action="/delete-item" method="POST">
            <label for="DeleteItemID">Delete Item ID:</label>
            <input type="number" id="DeleteItemID" name="itemID">
        
            <button type="submit">Delete Item</button>
        </form>

        <!-- Edit Item -->
        <form id="selectEditStyle">
            <label for="UpdateItemsID" method="POST" >
                <select name="updateItem" id="updateItem">
                    <option value="base_item">Name</option>
                    <option value="price">Price</option>
                    <option value="milk">Milk</option>
                    <option value="syrup">Syrup</option>
                    <option value="liquid">Liquid</option>
                    <option value="container">Container</option>
                    <option value="item_category">Item Category</option>
                </select>
            </label>
        </form>

        <form action="/update-item-value" method="POST" id="selectEditCmd">
            <label for="EditItemsID">Edit Item ID:</label>
            <input type="number" id="EditItemID" name="id">
            <label for="valueUpdated">New Item Value:</label>
            <input type="text" id="valueUpdate" name="valueUpdate">
        </form>
        <button type="submit" id="updateItemButton">Update Item</button>
    </div>
    

    <div class = "HomeFooter"></div>

    <script src="functions.js"></script>
        <script>
        document.getElementById("AddItem").addEventListener("click", function() {
            AddEmployee();
        });

        document.getElementById("DeleteEmployee").addEventListener("click", function() {
            DeleteEmployee();
        });

        document.getElementById("updateItemButton").addEventListener("click", async function() {
            EditItemID=((document.getElementById("selectEditCmd")).elements["EditItemID"].value)
            valueUpdate=((document.getElementById("selectEditCmd")).elements["valueUpdate"].value)
            updateEmployee=((document.getElementById("selectEditStyle")).elements["updateItem"].value)

            console.log(JSON.stringify({EditItemID, valueUpdate, updateItem }));
            const response = await fetch('http://localhost:3000/editEmp2', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({EditItemID, valueUpdate, updateItem })
            });

            if (response.ok) {
                //const data = await response.text();
                //alert(data);
            } else {
                alert('Error adding order');
            }
        });

        </script>
</body>