<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section class="header">
        <section class="menuLabel">Menu</section>
        <section class="weatherAndLogin">
            <button onclick="location.href='/manager'">Manager Side</button>
            <p id="userLoggedIn"></p>
            <p>Temperature: <%= ((weather.main.temp -273.15) * 9/5 + 32).toFixed(2) %> F</p>
        </section>
    </section>
    
    <div class="menu-categories">
        <% for (var i in data.item_categories) {%>
            <button class="menu-category-button" onclick="location.href='/menu/<%= data.item_categories[i].item_category %>'">
                <%=data.item_categories[i].item_category%>
            </button>
        <% } %>
    </div>
    
    <section class="footnote">
        <section class="companyLabel">
            <p>© 2025 Penguin Coffee Company</p>
            <p>Contact: penguinCoffee@aol.com | 123.456.7890</p>
        </section>
        <div class="button-group">
            <button class="seeOrder" onclick="goToOrder('/menu')">Current Order</button>
            <button class="colorChangeButton" onclick="toggleTheme()">Change Theme</button>
        </div>
    </section>

    <script src="/functions.js"></script>

    <script>
        logedUserID();
    </script>
</body>